@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f22f46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Regular.ttf") format("truetype");
  /* font-weight: 300; */
  font-style: normal;
  font-display: swap;
}

.Aeonik {
  font-family: "Aeonik", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Aeonik", sans-serif;
}
.primary {
  color: var(--primary);
}
.primarybg {
  background-color: var(--primary);
}
input {
  outline: var(--primary);
}
.flex-center {
  @apply flex items-center justify-center;
}
.btn {
  @apply px-6 pt-2 pb-3 font-thin text-lg rounded-full cursor-pointer;
}
.btn_gray {
  @apply px-6 py-3 rounded-full bg-[#F4F4F4] text-black cursor-pointer;
}
.section-padding {
  @apply px-[60px];
}

h2{
  @apply text-5xl font-medium leading-12 tracking-[0.01rem] text-[#292929]
}

h3{
  @apply font-medium text-lg text-[#292929]
}
p{
  @apply text-[#4F4F4F] font-light
}